@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
    outline: none; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    box-sizing: border-box;
}

/* Style the navbar */
.topnav {
    font-family: 'Montserrat',sans-serif;
  overflow: hidden;
    width: auto;
    background: #2b5876;
}

/* Navbar links */
.topnav a {
    border-radius: 10px;
    border: #ffa500;
    float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
  font-size: 22px;
  width: 8%;
  
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color:grey;
  color: black;
}

/* Active/current link */
.topnav a.active {
  background-color: #ffa500;
  color: white;
}

body{
    margin: 0;
    padding: 0;
    background: url('download.png');
    background-size: cover;
  }
  .wrapper{
    
    position: absolute;
    top: 50%;
    left: 50%;
    right: 30%;
    transform: translate(-50%,-50%);
    
    width: 140%;
    height: 70%;
    background: #fff;
    max-width: 400px;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 8px 8px 4px rgb(48, 59, 70); 
    
  }
  
  .wrapper h2{
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
  }
  
  .wrapper .input_field{
    margin-bottom: 20px;
  }
  
  .wrapper .input_field input[type="text"],
  .wrapper textarea{
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
  }
  
  .wrapper textarea{
    resize: none;
    height: 80px;
  }
  
  .wrapper .btn input[type="submit"]{
    border: 0px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    width: 100%;
    background: #2b5876;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;

  }

  
  #error_message{
    margin-bottom: 20px;
    background:#aaddff ;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }